
/* Set a style for all buttons */
button {
  background-color: grey; 
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  font-family: Courier;
  font-weight:bold;
  font-size:20px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

.signupbtn {
  background-color: lightblue;
}

/* Extra style for sign in button */
.signinbtn {
  width: 50%;
  padding: 5px 10px;
  background-color: rgb(0, 153, 255);
  font-size:15px;
}

.topicbtn {
  width: 50%;
  padding: 5px 10px;
  font-size:15px;
}

/* Center the avatar image inside this container */
.imgcontainer {
  width: 50%;
  transform: translateX(50%);
  text-align: center;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
  text-align: center;

}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  button {
    width: 100%;
  }
}

body{
  background-color:rgb(255, 255, 255);
}


test
{
	font-family: Courier;
	color: red;
	font-size:20px;
}

